$purple:       #7550fe;
$green:       #1acb98;
$papaia:    #f7d8a7;
$marrone:  #975f05;
header {
    background-color: $purple;
}
.button1{
    background-color: $green ;
}
.icons{
    background-color: $papaia !important;
}
i{
    color: $marrone !important;
}