@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
$purple:       #7550fe;
$green:       #1acb98;
$papaia:    #FFEEDA;
$marrone:  #975f05;
body{
    font-family: 'Inter', sans-serif;

}
header {
    background-color: $purple;   
    p{
        font-size: 0.9rem;
    }
    h6{
        padding-top: 1rem;
        margin-bottom: 0;
        font-weight: bold;
    }
}

  
main{
    p{
     font-size: 1rem;
     font-weight: bold;
    }
}

.button1{
    background-color: $green ;
}
.icons{
    background-color: $papaia !important;
    color: $marrone !important;
    font-weight: bolder !important;
}
