#testoAlternato {
    border: 2px solid black;
    padding: 1.5rem 1rem;
    
    width: 500px;
    margin: 0 auto;
    margin-block: 20rem;
}

#testoAlternato p {
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.parole {
    position: relative;
}

.parole i {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}


.parole i:first-child {
    display: block;
    animation: rotateWord 2.5s ease-in-out;
    margin-left: 0.5rem;
    width: 10rem;


}

@keyframes rotateWord {
    0% {
        transform: rotateZ(0deg);
        opacity: 1;
        color: greenyellow;
    }

    50% {
        color: rgb(255, 188, 3);

    }

    100% {
        transform: rotateZ(360deg);
        opacity: 1;
        color: rgb(255, 0, 0);

    }

}



.parole i:not(:first-child) {
    display: inline-block;
    margin-left: 0.5rem;
    margin-bottom: 5rem;
    width: 10rem;
    opacity: 0;
}

.parole i:nth-child(2) {
    animation: fadeInOut 2s 2.2s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        color: rgb(0, 87, 218);
        opacity: 1;
        transform: translateY(-600%);
    }

    25% {
        color: rgb(255, 251, 3);
        transform: translateY(-75%);
    } 

     50% {
        color: rgb(161, 19, 19);
        transform: translateY(-50%);
    } 

     75% {
        color: rgb(255, 4, 4);
        transform: translateY(-25%);
    } 

    100% {

        opacity: 1;
        color: rgb(47, 255, 0);
        transform: translateY(0);
    }

}

.parole i:nth-child(3) {
    animation: fadeSlide 2s 4s ease-out ;
}

@keyframes fadeSlide {
    0% {
        color: rgb(0, 255, 251);
        opacity: 1;
        transform: translateX(-400%);
    }


    100% {

        opacity: 1;
        color: rgb(255, 0, 0);
        transform: translateX(0);
    }

}