body {
    text-align: center;
    font-family: Georgia, serif;
    color: #333;
    margin: 0;
    background-image: linear-gradient(to right, #810180, #F87E72);
}

#logoimg {
    width: 200px;
    margin: 1rem 0;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.cranberries {
    width: 50%;
    text-align: left;
    margin: auto;
}

.cranberries video {
    width: 100%;
    border-radius: 10px;
}

#sally {
    display: block;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 1rem;
}

#featured {
    border-left: 1px solid #ffd977;
    padding-left: 1rem;
    margin-top: 2rem;
}

#featured span {
    color: #b5460f;
    display: block;
}

#featured a,
#simplyrecipes {
    color: #177;
}

.ingredienti {
    margin-top: 4rem;
}

.ingredienti p {
    font-weight: bold
}

#p {
    font-weight: bold
}

.ingredientimetodo {
    border-bottom: 1px solid rgb(197, 243, 243);
    margin-bottom: 2rem;
}

h2 {
    font-weight: 100;
}

ul {
    margin-bottom: 2rem;
}

li {
    margin-bottom: 1rem;
}

nav {
    background-color: #fefbf1;
    padding: 1rem 0;
    border-top: 1px solid #ffd977;
    color: #004d4d;
    font-size: 0.8rem;
    margin-bottom: 4rem;
}

nav span {
    font-weight: 100;
}

form {
    display: block;
}

input {
    display: block;
    margin: 0 auto;
}

button {
    margin: 5px auto;
}