@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color:#415fe1 ;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    font-weight: bold;
}
#container{
   width:80%;
   margin: 0 auto;

}
img{
    width: 20%;
}
a:link,a:visited{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    text-decoration: underline;
    
}
a:active{
    color: yellowgreen;
}
p{
    margin: 0;
}