@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
margin: 0;
color: #393d41;
font-size: 1.2rem;
line-height: 1.65rem;
font-family: 'Open Sans', sans-serif;
text-align: center;

}
h1, h2, h3, h4 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
   
}    
h1{
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
   
}
#logo{
text-align: center;
background-color: black;
padding: 2rem 0 2rem 0;
}
#imglogo{
width: 8rem;
}
#internalh1{
    padding: 1rem 5rem;
    font-size: 1.8rem;
line-height: 1.7rem;
font-weight: bold;
color: #25a2c3;
}
#internalp{
    padding: 0rem 0.9rem 0.7rem 0.9rem;
    margin-bottom: 2.5rem;
    

}
#banner{
background-image: url(../images/banner.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding: 1rem 0rem 3rem 0rem;
background-size: cover;
margin-bottom: 3rem;
}
#banner a{
background-color: #f04c2f ;
color: white;
text-decoration: none;
padding: 0.8rem 2rem;
border-radius: 5px;

} 
#divpctondo{
margin: 2rem 3rem 2rem 3rem;
}   
#pctondo{
border-radius: 100%;
width: 100%;
}
.tuttiti{
    margin: 0rem 0.4rem 0rem 0.4rem;
}
.tuttiti p{
margin-bottom: 1rem;
}
.tuttiti h3{
color: #25a2c3;
font-weight: bold;

margin-bottom: 1rem;
}
#epicodegarantisce{
background-color:  #e22d0e;
color: white;
padding: 2rem 0rem 2rem 0rem;
margin-top: 2.5rem;
}
#epicodegarantisce h2{
font-size: 2rem;
font-weight: bold;
margin-bottom: 0rem;
padding: 1rem 2rem;
color: white;
}
cite{
    font-size: 0.8rem;
    font-style: italic;
}
#epicodegarantisce p{
color: white;
font-size: 1rem;
margin-bottom: 1.2rem;
font-style: italic;
}
#epicodegarantisce h3{
font-size: 1rem;
margin-bottom: 0.4rem;
margin:0;
margin-top: 2rem;
color: white;
font-weight: normal;
}
#epicodegarantisce h4{
font-size: 0.65rem;
color: white;
font-weight: normal;
margin: 0;
}
#terzaparte h3{
    color: #25a2c3;
    font-weight: bold;
    font-size: 1.1rem;   
    padding-top: 1rem; 

}
#terzaparte p{
    margin: 1rem 1rem 2rem 1rem;
}
#terzaparte{
margin: 3rem 1.5rem 3rem 1.5rem;   
}
.pcterzaparte{
   margin-bottom: 2rem;
   border: #dee1e3 solid 1px;
}
.foto1{
    width: 100%;
}
footer{
    background-color: #25a2c3;
    

}
footer h2{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
}
footer p{
color:#C8E7F0 ;
}  
i{
    color: white;
}
a{
   color: #C8E7F0
}
div{
    line-height: 1.5rem;
}
#copyright{
    color: #C8E7F0;
    border-top: 1px solid;
    margin: 1.2rem 1.5rem 0rem 1.5rem;
    padding-top: 1.6rem;
    font-size: 0.6rem;
    padding-bottom: 2rem;
    display: inline-block;
}
#copyright p{
    font-size: 0.9rem;
    
    
}
.simbolicon{
    margin-bottom: 0.4rem;
}