body{
  background-color:greenyellow ;
}
main{
    text-align: right;
    
   width: 40%;
    margin: 10rem 
}
h1{
    font-size: 5rem;
    font-weight: bolder;
    color: blueviolet;
}
label{
    color: blueviolet;
    font-size: large;
    font-weight: bold;
}
li{
    list-style: none;
    color: blueviolet;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
